body {

}

header {
	background-color: #FFED74;
	border: 1px black solid;
    padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
    padding: 20px;
}

article {
	background-color: #FFE2B8;
	border: 1px black solid;
    padding: 20px;
}

div {
	background-color: #FFE2B8;
	border: 1px black solid;
    padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
    padding: 20px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#main {
	background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#row1 {
	background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#row2 {
	background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#row3 {
	background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
    float: right;
    width: 62%;
}