@import url(https://fonts.googleapis.com/css?family=Rokkitt:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
body {
	background-color:#3a3a3a;
}
h1{
	color:#fff;
	font-family: 'Rokkitt', serif;
	font-size: 6em;
	font-weight: bold;
}
h2{
	color:#92a1bc;
	font-family: 'Rokkitt', serif;
}
p {
	color:#e0e0e7;
	font-family: 'Lato', sans-serif;
}
ul {
	display: inline;
}
li {
	display: inline;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.row {
	 width: 29%;
	 padding: 1%;
	 margin: 0 1%;
	 float: left;
}
.thumbnails {

}
#header-home {
	background-image: url(http://masendesign.github.io/unit_3/images/workspace2.jpg);
	background-size: cover;
	text-align: center;
}
#main {
	max-width: 980px;
	margin: 0 auto;
}
#footer {

}
#slogan {
	letter-spacing: .3em;
}