@import url(https://fonts.googleapis.com/css?family=Rokkitt:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
body {
	background-color:#3a3a3a;
}
h1{
	color:#fff;
	font-family: 'Rokkitt', serif;
	font-size: 6em;
	font-weight: bold;
}
h2{
	color:#92a1bc;
	font-family: 'Rokkitt', serif;
}
p {
	color:#e0e0e7;
	font-family: 'Lato', sans-serif;
}
.thumbnails {

}
#header-home {
	background-image: url(http://masendesign.github.io/unit_3/images/workspace2.jpg);
	background-size: cover;
	text-align: center;
}
#footer {

}
#slogan {
	letter-spacing: .3em;
}